@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Satisfy', cursive;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.title1 {
    margin-top: 80px;
    margin-bottom: 70px;
    font-size: 70px;
    text-align: center;border-bottom: solid gold;
}

.principal {
    display: flex;
    justify-content: center;
}

.articulo {
    width: 600px;
    height: 300px;
}

.texto {
    font-size: 25px;

}

.parrafo {
    display: flex;
    justify-content: center;
}

.title2 {
    margin-top: 80px;
    font-size: 40px;

   justify-content: center;
    display: flex;
    text-align: center;
}

.title22{
    font-size: 40px;
    margin-bottom: 60px;
    justify-content: center;
    display: flex;
    text-align: center;
}

.seccion {
    width: 600px;
    height: 300px;
    border-top: 40px;
}


.title3 {
margin-top: 170px;
    font-size: 40px;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}


.texto {
    width: 600px;
    height: 300px;
    border-top: 40px;
}

.foto1 {
    width: 400px;
    height: 250px;
    border: 2px solid gold;
    margin-left: 10%;
}

.foto2 {
    width: 400px;
    height: 250px;
    border: 3px solid gold;
    margin-left: 10%;
}


.foto3 {
    margin-top: 50px;
    width: 400px;
    height: 250px;
    border: 3px solid gold;
    margin-left: 60%;


}

